.App {
    text-align: center;
    padding-top: 40px;
    min-height: 100vh;
    box-sizing: border-box; 
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    /* Add these properties to limit width and center content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-width: 100%; /* Limit width to 100% */
    margin: 0 auto; /* Center content horizontally */
  }

/* App.css */

.static-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #02122B;
  color: #fff;
  height: 15vh; /* Set the desired fixed height */
  display: flex;
  align-items: center;
  z-index: 2;
}

.title-image {
  padding-left: 20px;
  height: 50px; /* Set the desired height for the title image */
  margin-right: 20px; /* Add margin to the right of the title image for spacing */
}

.left-content {
  flex-basis: 1%;
  display: flex;
  align-items: center;
}


.green-box {
  background-color: #38991C; /* Green color for the box */
 
  margin-left: 55%; /* Push the green box to the right */
  height: 100%; /* Same height as static bar */
  width: 15%;
  margin-right: 10px; /* Space from the right */
  display: flex;
  align-items: center;

}

.green-box-link {
  color: #fff;
  text-decoration: none;
}

.Locker {
  width: 14%; /* Set the desired width for the SVG */
  margin-right: 1%; /* Adjust the space between the SVG and the text */
  padding-left: 5%;
}

.green-box-link {
  color: #fff;
  text-decoration: none;
}

.green-box-text {
  margin-left: 10%; /* Adjust the space between the SVG and the text */
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding-right: 5%;

}

.container {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28vh; /* 10% of the viewport height */
  background-color: #02122B; /* Green color, change as needed */
}

.rectangle {
  width: 100vw; /* 100% of the viewport width */
  text-align: center;
  color: white;
  font-size: 24px;
  /* Add any other styles as needed */
}

.MiddleContent{
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 100%; /* Make sure the span takes the full height of the parent */
}

.Component1 {
  margin-top: 0%;
  margin-left: 10%;
  width: 80%;
  height: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangle2 {
  
  width: 100%;
  height: 80px; /* Set the desired height */
  background-color: #38991C; /* Set your desired background color */
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 0%;
  box-sizing: border-box; /* Include the border in the box model */
}

/* Style for text inside the rectangle */
.rectangle2 h2 {
  color: #ffffff; /* Set the text color */
}

.center-table {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
 
}

.my-table {
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
  /*border: 2px solid black;*/
}

.table-header {
  width: 50%; /* Each column takes 50% of the table width */
  /*border: 2px solid black;*/
  
  text-align: center;
}

.table-cell {
  width: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.rectangle3 {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 120px; /* Set the desired height */
  background-color: #02122B; /* Set your desired background color */
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  box-sizing: border-box; /* Include the border in the box model */
}

.rectangle3 h1 {
  color: white;
  font-size: 30px;
}

.rectangle5 {
  width: 80vw; /* 100% of the viewport width */
  text-align: left;
  color: white;
  font-size: 24px;
  /* Add any other styles as needed */
  /*border: 2px solid rgb(255, 255, 255);*/
  margin-left: 5vw;
}

.container2 {
  margin-top: 6%;
  display: flex;
  justify-content:left;
  align-items:baseline;
  height: 70vh; /* 10% of the viewport height */
  background-color: #02122B; /* Green color, change as needed */
}

.MiddleContent2 {
  display: flex;
  flex-direction: row; /* Align content in a row */
  align-items: center; /* Center items vertically within each row */
  margin-bottom: -70px; /* Adjust the value to control the vertical spacing */
}

.title-image2{
  margin-left: -20px;
  height: 100px; /* Set the desired height for the title image */
  margin-top: 20px;
  margin-bottom: -10px;
}

.container3 {

  justify-content:center;
  align-items:center;
  height: 50%; /* 10% of the viewport height */
  background-color: #ffffff; /* Green color, change as needed */
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  padding-bottom: 0px;
}

.container3 h1{
  color: black;
  font-size: 32px;
}

.chart-container {
  /* Adjust as needed */
  width: 80%;
  height: 300px;

  border: 2px solid black;
}

.container2Plus {
  margin-top: 6%;
  display: flex;
  justify-content:left;
  align-items:baseline;
  height: 50vh; /* 10% of the viewport height */
  background-color: #02122B; /* Green color, change as needed */
}

.container2Plus h1{
  font-size: 32px;

}

.CSink {
  width: 80%;
}

.container2Plus2 {
  margin-top: 6%;
  display: flex;
  justify-content:left;
  align-items:baseline;
  height: 200vh; 
  background-color: #02122B; 
}

.RainMap {
  height: 500px;
}

.Southern {
  display: flex;
}

.Southern h1 {
  font-size: 20px;
}

.RubberTree {
  width: 20%;
}

.container3X{
  justify-content:center;
  align-items:center;
  height: 50%; /* 10% of the viewport height */
  background-color: #ffffff; /* Green color, change as needed */
  
  display: flex;


}

.sidebar {
  margin-top: 40px;
  width: 250px;
  height: 85.5vh;
  background-color: #02122B;
  color: #fff;
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  
}

.sidebar-option {
  width: 100%;
  height: 60px;
  background-color: #102c59;
  color: #fff;
  cursor: pointer;
  justify-content:left;
  display: flex;
  align-items: center;
 
  cursor: pointer;
}

.sidebar-option:hover {
  text-decoration: underline;
}

.Dashboard {
  margin-top: 0vh;
  border: 2px solid rgb(165, 20, 20);
  display: flex;
}

.IconClass{
  border: #02122B;
  margin-left: 30px;
  margin-right: 10px;
  width: 40px;
  height: 40px;


  
}
.ContentBoard{
  margin-left: 34.3vh;
  margin-top: 7vh;
  height: 85vh;
  width: 100%;
  position: fixed;
  background-color: #8f948d;
}